@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  padding-top: 3.6rem;
  color: #484848 !important;
  background-color: #faf2da !important;
}

.cloud {
  position: relative;
  margin: 2em 0 2em 40px;
  padding: 14px;
  background: #faf2da;
  border-radius: 30px;
  box-shadow: 8px 8px 11px #e6dfc9, -8px -8px 11px #ffffeb;

  animation: 0.9s cloud infinite alternate linear;
}
@keyframes cloud {
  to {
    transform: transtateY(0);
  }
  from {
    transform: translateY(10px);
  }
}

.cloud:before {
  content: "";
  position: absolute;
  left: -38px;
  width: 13px;
  height: 12px;
  bottom: 0;
  background: #faf2da;
  box-shadow: 8px 8px 11px #e6dfc9, -8px -8px 11px #ffffeb;
  border-radius: 50%;
}

.cloud:after {
  content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  bottom: 3px;
  border-radius: 50%;
  box-shadow: 8px 8px 11px #e6dfc9, -8px -8px 11px #ffffeb;
  border-radius: 50%;
}
.cloud h1 {
  margin: 0;
  padding: 0;
}
